"Configuration
let mapleader = "\<Space>"
"set keep-english-in-normal
"set keep-english-in-normal-and-restore-in-insert
set nowrapscan "検索をファイルの先頭へ循環しない
set argtextobj
set NERDTree
set highlightedyank
set ignorecase "検索時大文字小文字を気にしない
set hlsearch "検索時にハイライトを有効
set commentary "コメント化/コメント解除するプラグイン
set clipboard+=unnamedplus "ヤンクした内容をクリップボードにコピーして欲しい
set multiple-cursors

nmap [[[ <Action>(Back)
nmap ]]] <Action>(Forward)
nnoremap gf :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gsm :action GotoSuperMethod<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action RenameElement<CR>
nnoremap qd :action QuickJavaDoc<CR>
nnoremap <leader>of :action GotoFile<CR>
"なぜかFindInFilesの機能が動く↓
" global find
nnoremap <leader>gf :action FindInPath<CR>
" find
noremap <leader>f :action Find<CR>
" gloaal replace
noremap <leader>gr :action ReplaceInPath<CR>
" replace
noremap <leader>r :action Replace<CR>
noremap gt :action GotoTest<CR>
" resume - z
"noremap <leader>z <ESC>:action Resume<CR>
" jump to next error
noremap <leader>j :action GotoNextError<CR>
" jump to previous error
noremap <leader>k :action GotoPreviousError<CR>
" param info
noremap gp :action ParameterInfo<CR>
" close all editors
noremap <leader>gca :action CloseAllEditors<CR>
" インサートモードから抜けると自動的にIMEをオフにする
"set iminsert=2

"keymapsettings
inoremap <silent> jj <ESC><ESC>
"ESCの２回押手ハイライトを消去

" NERDTree
nmap <leader>e :NERDTreeFind<cr>
"nmap <leader>e :NERDTreeToggle<cr>

" tab
map <leader>ct <Action>(CloseActiveTab)
map <leader>] <Action>(NextTab)
map <leader>[ <Action>(PreviousTab)

" git
map <leader>git <Action>(Git.Menu)
map <leader>br <Action>(Git.Branches)
nmap <leader>gs :action Vcs.Show.Local.Changes<CR>

"Debug
map <leader>ab <Action>(ToggleLineBreakpoint)
" Reload .ideavimrc
nnoremap <leader>vs :source ~/.ideavimrc<CR>

"Window
nnoremap <leader>ot :action ActivateTerminalToolWindow<CR>
noremap <leader>jr :action ActivateJiraToolWindow<CR>
map <leader>0 <Action>(ActivateServicesToolWindow)
map <leader>jf <Action>(ActivateJSONFormatterToolWindow)
map <leader>9 <Action>(ActivateVersionControlToolWindow)
nnoremap <leader>7 :action ActivateStructureToolWindow<CR>
nnoremap <leader>8 :action ActivatePullRequestsToolWindow<CR>

" easymotionの設定
set easymotion
" word単位移動
map <leader>w <Plug>(easymotion-bd-w) 
" 検索移動
map <leader>s <Plug>(easymotion-bd-f2)
" 行移動
map <leader>l <Plug>(easymotion-bd-jk)
